h1 { color: #F0A050; }
cursive

.test_box {
    font-size:  25px;
    margin:  20px; 
}
.font_test {
    font-family:  'arial black',serif; 
}

        body {
            font-family: sans-serif;
            margin: 30px;
        }
        .exercise-title {
            font-size: 28px;
            font-weight: bold;
            color: white;
            background-color: blue;
            padding: 10px;
            border-radius: 10px;
            width: fit-content;
            margin-top: 30px;
        }
