h1 { color:red; }
h2 { color:green; }
h3 { color:royalblue;}
th.important{ color:red;}
p.sample1 {border: double 10px #0000ff;}
p.sample2 {border: inset 10px #ff0000;}
p.sample3 {margin: 30px 30px;padding: 10px;border:medium solid #ff00ff;}
cursive

.test_box {
    font-size:  25px;
    margin:  20px; 
}
.font_test {
    font-family:  'arial black',serif; 
}

        body {
            font-family: sans-serif;
            margin: 30px;
        }
        .exercise-title {
            font-size: 28px;
            font-weight: bold;
            color: white;
            background-color: blue;
            padding: 10px;
            border-radius: 10px;
            width: fit-content;
            margin-top: 30px;
        }
